.window{
  visibility: hidden;
}

@media only screen and (min-width: 768px){
  .window{
      visibility: visible;
  }
}

.window{
  width:100%;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px){
  .window{
      width:600px;
      margin-bottom: 20px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
}

.window{
  visibility: hidden;
}

@media only screen and (min-width: 1px){
  .window{
      visibility: visible;
  }
}

.listening-to{
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 1px){
  .listening-to{
      text-align: center;
      margin-bottom: 20px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
}

img.spearmint { 
  object-fit: contain;
  width: 1000px; 
  height: 300px;
  transition-property: filter;
  transition-duration: 500ms;
  filter: blur(0);
}

img.loadmint {
  display: none;
  image-rendering: pixelated;
  position: absolute;
  height: 80px;
  width: 80px;
  top: calc(50% - 60px);
  left: calc(50% - 40px);
}

div.loadingmints img.spearmint {
  filter: blur(32px);
  transition-duration: 2500ms;
}

div.loadingmints img.loadmint {
  display: block;
}

img.fox-info {
  object-fit: contain;
  max-width: 100%;
}