.window.glass {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px)}

.window.is-bright {
    max-width: 350px}

.listeningto {
    margin-left: 300px;
    margin-right: 300px;
    width: 300px;
    max-width: 350px}

.imagebuttons {
    margin-left: auto;
    margin-right: auto}

html {
    background-color: #9EE3FA;
    background-image: url('assets/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 20px}

.center, .randSpearmint {
    text-align: center}

.randSpearmint img{
    max-width: 60%}

.rainbowText {
    text-align: center;
    font-size: 25px;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet,indigo,blue,green,yellow,orange,red);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: move 40s linear infinite}

@keyframes move {
	to {
		background-position: 350vh;
    }
}

.kin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px}

#mintversion, #mintbuild {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font: 12px Segoe UI;
    color: #fff;
/* Fallback for browsers not using fixed positioning
so that the text still aligns to the right anyway */
    text-align: right
}
/* Not a good solution; some browsers support fixed positioning
but not the @supports media query. This needs to be replaced */
@supports (position: fixed) {
    #mintversion, #mintbuild {
        position: fixed;
        right: 5px}
    #mintversion {
        bottom: 19px}
    #mintbuild {
        bottom: 1px}}